@import "tailwindcss";

@theme {
    --animate-loader: loader .8s infinite linear;
    @keyframes loader {
        from { transform: rotate(0); }
        to { transform: rotate(360deg) }
    }
}

@layer base {
    body {
        @apply bg-neutral-100;
    }
}
.shadow-button-login:hover {
    box-shadow: 0 0 0 4px #F58927;
}
.shadow-button-login-form:hover {
    box-shadow: 0 0 6px #999;
}
.shadow-card-blue:hover {
    box-shadow: 0 2px 7px #5483e9;
}